.page {
  background-image: url("../assets/pexels-karolina-grabowska-4033005.jpg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.recipe {
  position: fixed;
  text-align: center;
  width: 70%;
  top: 42%;
  left: 32%;
  background-color: transparent;
  transform: rotate(13deg);
  color: black;
}
.recipe h2 {
  font-size: xx-large;
  margin: 2rem;
}
.buttons {
  position: fixed;
  bottom: 0;
}
.buttons img {
  height: 25px;
}
.buttonDelete,
.buttonEdit {
  border: none;
  box-shadow: none;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .buttons img {
    height: 30px;
  }
  .recipe {
    position: fixed;
    text-align: center;
    width: 60%;
    left: 40%;
  }
  .recipe h2 {
    font-size: xxx-large;
    margin: 2rem;
  }
  .recipe h3 {
    font-size: x-large;
    margin: 3rem;
  }
}
