.page {
  background-image: url("../assets/pexels-geraud-pfeiffer-6605193.jpg");
  background-size: cover;
  background-position: right;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(255, 228, 196, 0.8);
  border-radius: 20px;
  margin: 2rem;
  padding: 1rem;
  box-shadow: 1px 1px 1px var(--second-color);
}
.form h2 {
  margin: 2rem 0 3rem;
}
.inputEmail,
.inputPassword {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form input,
button {
  padding: 1rem;
  margin: 1rem;
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: 1px 1px 1px var(--second-color);
  text-align: center;
}
.form button {
  background-color: var(--yellow-color);
  padding: 0.7rem 2rem;
  margin-top: 2rem;
}
.buttons {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.validationMessage {
  width: 80%;
}
@media screen and (min-width: 1024px) {
  .form {
    margin-top: 2rem;
  }
  .form h2 {
    margin: 2rem 0 1rem;
  }
  .form input,
  button {
    padding: 1rem 2rem;
  }
}
