.page {
  background-image: url("../assets/pexels-karolina-grabowska-4033005.jpg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.title {
  margin-bottom: 2rem;
  background-color: var(--second-bg-color);
  border-radius: 20px;
  padding: 0.5rem 1rem;
  box-shadow: 1px 1px 1px var(--second-color);
}
.recipesList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  margin: 2rem;
}
.cardRecipe a {
  text-decoration: none;
}

.recipe {
  margin: 0.8rem;
  border-radius: 20px;
  border: 1px solid black;
  background-color: var(--second-bg-color);
  padding: 2rem;
  height: 80px;
  width: 300px;
  justify-content: space-between;
  display: flex;
  box-shadow: 1px 1px 1px var(--second-color);
  cursor: pointer;
}

.titleRecipe {
  font-size: small;
  display: flex;
  align-items: center;
}
.buttons {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.button {
  background-color: transparent;
  border: none;
  width: 20px;
  height: auto;
  cursor: pointer;
}
