body {
  width: 100vw;
  overflow: hidden;
}

#root {
  width: 100%;
  --main-color: rgb(6, 7, 8);
  --main-bg-color: rgb(255, 228, 196, 0.8);
  --second-bg-color: rgb(217, 217, 217);
  --second-color: rgb(116, 120, 141);
  --burger-color: rgb(0, 0, 0, 0.8);
  --yellow-color: rgb(249, 249, 151);
  --navbar-color: rgb(217, 217, 217, 0.9);
  --main-font-family: "Pacifico", cursive;
  --second-font-family: "Adamina", serif;
}

* {
  box-sizing: border-box;
  border: none;
  margin: 0px;
  padding: 0px;
  font-family: var(--main-font-family);
  color: var(--main-color);
}
